/* --- Basic Overrides --- */
section+section {margin-top:0;}

/* --- Layout Styles --- */
.l-flex_vert--center {
  display: flex;
  justify-content: center;
  -webkit-flex-direction: column;
   flex-direction: column;
}

.l-text_center {text-align:center;}
.l-text_right {text-align:right;}
.l-text_left {text-align:left;}

.l-bg_brown {background-color:#685642;color:#ffffff;}
.l-bg_brown a {color:#F4F0CB;}
.l-bg_tan {background-color:#B3A580;}
.l-bg_tan--light {background-color:#F4F0CB;}
.l-bg_green {background-color:#B7C68B;}

.l-container {max-width:1024px;margin-left:auto;margin-right:auto;}
.l-row {overflow:hidden;margin-left:-15px;margin-right:-15px;}
.l-col {float:left;padding-left:15px;padding-right:15px;}
.l-col.two {width:50%;}
.l-col.three {width:33.333%;}
.l-col.four {width:25%;}
.l-col.five {width:20%;}

@media screen and (max-width:1023px) {
  .l-container {max-width:992px;}
} 

@media screen and (max-width:991px) {
  .l-container {max-width:640px;}
  .l-col.three, .l-col.four,
  .l-col.five {width:50%;}  
}

@media screen and (max-width:639px) {
  .l-col.two, .l-col.three, .l-col.four,
  .l-col.five {width:50%;}  
}

/* --- Modules --- */
.m-section_fullpage {height:100vh;}
.m-section_content {padding:2em 0;}

.m-subsection+.m-subsection {margin-top:2em;}


/* --- Effects --- */


.e-letter {
  display: inline-block;
  animation: oh-hey 1.5s both linear;
}

.e-letter_0 {animation-delay: 0.7s;}
.e-letter_1 {animation-delay: 0.6s;}
.e-letter_2 {animation-delay: 0.5s;}
.e-letter_3 {animation-delay: 0.4s;}
.e-letter_4 {animation-delay: 0.3s;}
.e-letter_5 {animation-delay: 0.2s;}

.e-letter_6 {animation-delay: 1.9s;}
.e-letter_7 {animation-delay: 1.8s;}
.e-letter_8 {animation-delay: 1.7s;}
.e-letter_9 {animation-delay: 1.6s;}
.e-letter_10 {animation-delay: 1.5s;}
.e-letter_11 {animation-delay: 1.4s;}
.e-letter_12 {animation-delay: 1.3s;}
.e-letter_13 {animation-delay: 1.2s;}
.e-letter_14 {animation-delay: 1.1s;}
.e-letter_15 {animation-delay: 1.0s;}
.e-letter_16 {animation-delay: 0.9s;}

.e-letter_17 {animation-delay: 2.2s;}

@keyframes oh-hey {
  0% { transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -500, 0, 0, 1); opacity: 0; }
  1.923077% { transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -335.09448, 0, 0, 1); opacity: 1; }
  3.846154% { transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -194.95011, 0, 0, 1);  }
  5.769231% { transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -90.94267, 0, 0, 1); }
  7.692308% { transform: matrix3d(0.97857, 0, 0, 0, 0, 1.03096, 0, 0, 0, 0, 1, 0, -22.78369, 0, 0, 1); }
  9.615385% { transform: matrix3d(0.78675, 0, 0, 0, 0, 1.30803, 0, 0, 0, 0, 1, 0, 15.69707, 0, 0, 1); }
  11.538462% { transform: matrix3d(0.66382, 0, 0, 0, 0, 1.48559, 0, 0, 0, 0, 1, 0, 32.62338, 0, 0, 1); }
  13.461538% { transform: matrix3d(0.60088, 0, 0, 0, 0, 1.57651, 0, 0, 0, 0, 1, 0, 35.74717, 0, 0, 1); }
  15.384615% { transform: matrix3d(0.58665, 0, 0, 0, 0, 1.59706, 0, 0, 0, 0, 1, 0, 31.32878, 0, 0, 1); }
  17.307692% { transform: matrix3d(0.60907, 0, 0, 0, 0, 1.56467, 0, 0, 0, 0, 1, 0, 23.81832, 0, 0, 1); }
  19.230769% { transform: matrix3d(0.65643, 0, 0, 0, 0, 1.49626, 0, 0, 0, 0, 1, 0, 15.99781, 0, 0, 1); }
  21.153846% { transform: matrix3d(0.71821, 0, 0, 0, 0, 1.40702, 0, 0, 0, 0, 1, 0, 9.33372, 0, 0, 1); }
  23.076923% { transform: matrix3d(0.78561, 0, 0, 0, 0, 1.30968, 0, 0, 0, 0, 1, 0, 4.37733, 0, 0, 1); }
  25% { transform: matrix3d(0.85175, 0, 0, 0, 0, 1.21414, 0, 0, 0, 0, 1, 0, 1.12195, 0, 0, 1); }
  26.923077% { transform: matrix3d(0.91172, 0, 0, 0, 0, 1.12751, 0, 0, 0, 0, 1, 0, -0.72162, 0, 0, 1); }
  28.846154% { transform: matrix3d(0.96245, 0, 0, 0, 0, 1.05423, 0, 0, 0, 0, 1, 0, -1.53765, 0, 0, 1); }
  30.769231% { transform: matrix3d(1.00241, 0, 0, 0, 0, 0.99651, 0, 0, 0, 0, 1, 0, -1.69416, 0, 0, 1); }
  32.692308% { transform: matrix3d(1.03135, 0, 0, 0, 0, 0.95471, 0, 0, 0, 0, 1, 0, -1.48906, 0, 0, 1); }
  34.615385% { transform: matrix3d(1.04996, 0, 0, 0, 0, 0.92783, 0, 0, 0, 0, 1, 0, -1.13458, 0, 0, 1); }
  36.538462% { transform: matrix3d(1.05957, 0, 0, 0, 0, 0.91396, 0, 0, 0, 0, 1, 0, -0.76372, 0, 0, 1); }
  38.461538% { transform: matrix3d(1.06184, 0, 0, 0, 0, 0.91067, 0, 0, 0, 0, 1, 0, -0.44685, 0, 0, 1); }
  40.384615% { transform: matrix3d(1.0586, 0, 0, 0, 0, 0.91536, 0, 0, 0, 0, 1, 0, -0.21066, 0, 0, 1); }
  42.307692% { transform: matrix3d(1.05158, 0, 0, 0, 0, 0.92549, 0, 0, 0, 0, 1, 0, -0.05519, 0, 0, 1); }
  44.230769% { transform: matrix3d(1.04237, 0, 0, 0, 0, 0.93879, 0, 0, 0, 0, 1, 0, 0.03313, 0, 0, 1); }
  46.153846% { transform: matrix3d(1.0323, 0, 0, 0, 0, 0.95334, 0, 0, 0, 0, 1, 0, 0.07246, 0, 0, 1); }
  48.076923% { transform: matrix3d(1.02239, 0, 0, 0, 0, 0.96765, 0, 0, 0, 0, 1, 0, 0.08029, 0, 0, 1); }
  50% { transform: matrix3d(1.0134, 0, 0, 0, 0, 0.98065, 0, 0, 0, 0, 1, 0, 0.07077, 0, 0, 1); }
  51.923077% { transform: matrix3d(1.00577, 0, 0, 0, 0, 0.99166, 0, 0, 0, 0, 1, 0, 0.05404, 0, 0, 1); }
  53.846154% { transform: matrix3d(0.99976, 0, 0, 0, 0, 1.00035, 0, 0, 0, 0, 1, 0, 0.03646, 0, 0, 1); }
  55.769231% { transform: matrix3d(0.99539, 0, 0, 0, 0, 1.00666, 0, 0, 0, 0, 1, 0, 0.02139, 0, 0, 1); }
  57.692308% { transform: matrix3d(0.99258, 0, 0, 0, 0, 1.01072, 0, 0, 0, 0, 1, 0, 0.01014, 0, 0, 1); }
  59.615385% { transform: matrix3d(0.99111, 0, 0, 0, 0, 1.01284, 0, 0, 0, 0, 1, 0, 0.00271, 0, 0, 1); }
  61.538462% { transform: matrix3d(0.99075, 0, 0, 0, 0, 1.01336, 0, 0, 0, 0, 1, 0, -0.00152, 0, 0, 1); }
  63.461538% { transform: matrix3d(0.99122, 0, 0, 0, 0, 1.01269, 0, 0, 0, 0, 1, 0, -0.00341, 0, 0, 1); }
  65.384615% { transform: matrix3d(0.99226, 0, 0, 0, 0, 1.01119, 0, 0, 0, 0, 1, 0, -0.0038, 0, 0, 1); }
  67.307692% { transform: matrix3d(0.99363, 0, 0, 0, 0, 1.0092, 0, 0, 0, 0, 1, 0, -0.00336, 0, 0, 1); }
  69.230769% { transform: matrix3d(0.99513, 0, 0, 0, 0, 1.00703, 0, 0, 0, 0, 1, 0, -0.00257, 0, 0, 1); }
  71.153846% { transform: matrix3d(0.99662, 0, 0, 0, 0, 1.00489, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  73.076923% { transform: matrix3d(0.99797, 0, 0, 0, 0, 1.00294, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  75% { transform: matrix3d(0.99911, 0, 0, 0, 0, 1.00128, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  76.923077% { transform: matrix3d(1.00002, 0, 0, 0, 0, 0.99997, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  78.846154% { transform: matrix3d(1.00068, 0, 0, 0, 0, 0.99902, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  80.769231% { transform: matrix3d(1.0011, 0, 0, 0, 0, 0.99841, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  82.692308% { transform: matrix3d(1.00133, 0, 0, 0, 0, 0.99808, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  84.615385% { transform: matrix3d(1.00138, 0, 0, 0, 0, 0.998, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  86.538462% { transform: matrix3d(1.00132, 0, 0, 0, 0, 0.9981, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  88.461538% { transform: matrix3d(1.00116, 0, 0, 0, 0, 0.99832, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  90.384615% { transform: matrix3d(1.00096, 0, 0, 0, 0, 0.99862, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  92.307692% { transform: matrix3d(1.00073, 0, 0, 0, 0, 0.99894, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  94.230769% { transform: matrix3d(1.00051, 0, 0, 0, 0, 0.99926, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  96.153846% { transform: matrix3d(1.00031, 0, 0, 0, 0, 0.99955, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  98.076923% { transform: matrix3d(1.00014, 0, 0, 0, 0, 0.9998, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  100% { transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); opacity: 1; }
}